In [1]:
import sqlite3
import pandas as pd
andmebaasi_nimi = "v33_koondkorpus_sentences_verb_pattern_obl_20241002-130310.db"
tabel = "kohakaanded" # tabel, kus on ainult kohakäänded alles jäetud (feats_filtreerimine.ipynb tulemus)

In [2]:
examples_given = 5 # mitu rida iga lemma kohta välja valitakse
count_min = 5 # minimaalne lemma esinemiste kord, et seda välja valitaks
conn = sqlite3.connect(andmebaasi_nimi)
query = f"""
WITH RankedRows AS (
    -- Järjestame samad lemmad kasutades random'it ning määrame example_num väärtuse
    SELECT 
        *, 
        ROW_NUMBER() OVER (PARTITION BY lemma ORDER BY RANDOM()) AS example_num,
        COUNT(*) OVER (PARTITION BY lemma) AS total_count -- Mitu korda antud lemma esineb
    FROM {tabel}
),
ValidLemmas AS (
    -- Jätame alles ainult lemmad, mis esinevad vähemalt count_min korda
    SELECT lemma
    FROM RankedRows
    GROUP BY lemma
    HAVING COUNT(*) >= {count_min}
),
RandomLemmas AS (
    -- Valime juhuslikult lemmad
    SELECT lemma
    FROM ValidLemmas
    ORDER BY RANDOM()
    -- LIMIT 1000 (siin saab määrata mitu erinevat lemmat valitakse)
)
SELECT RankedRows.*
FROM RankedRows
JOIN RandomLemmas USING (lemma)
WHERE example_num <= {examples_given}
ORDER BY total_count, lemma, example_num;
"""


df = pd.read_sql_query(query, conn)
conn.close()
df # dataframe, kus on iga valitud lemma kohta examples_given näidet

,id,head_id,loc,loc_rel,deprel,form,lemma,feats,parent_loc,pos,case,number,proper,example_num,total_count
0,16914226,9042088,5,2,obl,01-l,01,"ad,card,l,sg",None,N,ad,sg,0,1,5
1,33842830,18347728,1,-1,obl,01-lt,01,"abl,card,l,sg",None,N,abl,sg,0,2,5
2,23059612,12407197,5,2,obl,01-l,01,"ad,card,l,sg",None,N,ad,sg,0,3,5
3,48580405,26546238,11,1,obl,01-st,01,"card,el,l,sg",None,N,el,sg,0,4,5
4,51743905,28551088,8,3,obl,01-st,01,"card,el,l,sg",None,N,el,sg,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229995,29381721,15908272,18,1,obl,meil,mina,"ad,pl",None,P,ad,pl,0,1,209164
229996,10880759,5820169,3,1,obl,meil,mina,"ad,pl",None,P,ad,pl,0,2,209164
229997,21488130,11525505,21,1,obl,mullegi,mina,"all,sg",None,P,all,sg,0,3,209164
229998,31378415,16997757,1,-1,obl,Mulle,mina,"all,sg",None,P,all,sg,0,4,209164
229999,26741157,14439160,15,-5,obl,meile,mina,"all,pl",None,P,all,pl,0,5,209164

In [3]:
conn = sqlite3.connect(andmebaasi_nimi)

db_df = pd.read_sql("SELECT id, sentence_id FROM transaction_head", conn) # saame sentance_id

conn.close()

# lisame sentence_id oma dataframe'ile
df = df.merge(db_df, left_on="head_id", right_on="id", how="left")

# eemaldame üleliigse id veeru
df.drop(columns=["id_y"], inplace=True)

df.head(50)

,id_x,head_id,loc,loc_rel,deprel,form,lemma,feats,parent_loc,pos,case,number,proper,example_num,total_count,sentence_id
0,16914226,9042088,5,2,obl,01-l,01,"ad,card,l,sg",None,N,ad,sg,0,1,5,5638210
1,33842830,18347728,1,-1,obl,01-lt,01,"abl,card,l,sg",None,N,abl,sg,0,2,5,11452252
2,23059612,12407197,5,2,obl,01-l,01,"ad,card,l,sg",None,N,ad,sg,0,3,5,7738885
3,48580405,26546238,11,1,obl,01-st,01,"card,el,l,sg",None,N,el,sg,0,4,5,17296885
4,51743905,28551088,8,3,obl,01-st,01,"card,el,l,sg",None,N,el,sg,0,5,5,18907961
5,48405559,26440568,12,2,obl,1.90st,1.90,"card,el,l,sg",None,N,el,sg,0,1,5,17221900
6,27327188,14758582,9,4,obl,1.90-le,1.90,"all,card,l,sg",None,N,all,sg,0,2,5,9182197
7,28843248,15608077,19,3,obl,1.90st,1.90,"card,el,l,sg",None,N,el,sg,0,3,5,9727368
8,41289266,22316899,3,1,obl,1.90st,1.90,"card,el,l,sg",None,N,el,sg,0,4,5,14018110
9,35416751,19181957,3,1,obl,1.90-l,1.90,"ad,card,l,sg",None,N,ad,sg,0,5,5,11985432
10,38017353,20564783,13,1,obl,1.91-l,1.91,"ad,card,l,sg",None,N,ad,sg,0,1,5,12856517
11,1595525,896905,4,2,obl,1.91-st,1.91,"card,el,l,sg",None,N,el,sg,0,2,5,566959
12,18642328,9967497,19,2,obl,1.91-l,1.91,"ad,card,l,sg",None,N,ad,sg,0,3,5,6206447
13,38017366,20564791,1,-1,obl,1.91-l,1.91,"ad,card,l,sg",None,N,ad,sg,0,4,5,12856521
14,1439203,817113,8,-2,obl,1.91-st,1.91,"card,el,l,sg",None,N,el,sg,0,5,5,518693
15,19165508,10252008,10,2,obl,13 000-le,13000,"all,card,l,sg",None,N,all,sg,0,1,5,6378905
16,41246056,22293674,10,2,obl,13 000-le,13000,"all,card,l,sg",None,N,all,sg,0,2,5,14003986
17,52262397,28894792,18,1,obl,13 000-le,13000,"all,card,l,sg",None,N,all,sg,0,3,5,19155708
18,3188422,1728974,4,2,obl,13 000-st,13000,"card,el,l,sg",None,N,el,sg,0,4,5,1087793
19,327528,180669,18,1,obl,13 000-le,13000,"all,card,l,sg",None,N,all,sg,0,5,5,107295
20,21572148,11571269,1,-1,obl,15selt,15see,"abl,sg",None,P,abl,sg,0,1,5,7193759
21,16277849,8705190,7,-1,obl,15selt,15see,"abl,sg",None,P,abl,sg,0,2,5,5429352
22,30679190,16612877,17,-1,obl,15selt,15see,"abl,sg",None,P,abl,sg,0,3,5,10353962
23,21766524,11677924,7,-1,obl,15selt,15see,"abl,sg",None,P,abl,sg,0,4,5,7262316
24,38823879,20991655,7,-1,obl,15selt,15see,"abl,sg",None,P,abl,sg,0,5,5,13119248
25,20026609,10719173,12,2,obl,164-le,164,"all,card,l,sg",None,N,all,sg,0,1,5,6661821
26,50913847,28026272,27,3,obl,164-le,164,"all,card,l,sg",None,N,all,sg,0,2,5,18507536
27,2492342,1363911,10,2,obl,164le,164,"all,card,l,sg",None,N,all,sg,0,3,5,856421
28,14479124,7755550,4,1,obl,164-st,164,"card,el,l,sg",None,N,el,sg,0,4,5,4830175
29,3576856,1934077,10,1,obl,164le,164,"all,card,l,sg",None,N,all,sg,0,5,5,1216601
30,39077905,21126984,3,1,obl,17-selt,17-see,"abl,sg",None,P,abl,sg,0,1,5,13206488
31,195193,107685,7,-2,obl,17-selt,17-see,"abl,sg",None,P,abl,sg,0,2,5,62681
32,3484890,1885290,9,2,obl,17-selt,17-see,"abl,sg",None,P,abl,sg,0,3,5,1186012
33,30143767,16321633,15,2,obl,17-selt,17-see,"abl,sg",None,P,abl,sg,0,4,5,10172829
34,46879488,25539424,9,2,obl,17-selt,17-see,"abl,sg",None,P,abl,sg,0,5,5,16559894
35,11300134,6046983,6,3,obl,18 000-lt,18000,"abl,card,l,sg",None,N,abl,sg,0,1,5,3754571
36,19165507,10252008,9,1,obl,18 000-lt,18000,"abl,card,l,sg",None,N,abl,sg,0,2,5,6378905
37,7470362,3990194,11,3,obl,18 000-le,18000,"all,card,l,sg",None,N,all,sg,0,3,5,2488070
38,11003686,5886757,7,1,obl,18 000-le,18000,"all,card,l,sg",None,N,all,sg,0,4,5,3655337
39,34292996,18585976,13,3,obl,18 000-le,18000,"all,card,l,sg",None,N,all,sg,0,5,5,11608819
40,9816274,5239523,5,-3,obl,1830-ndail,1830.,"ad,ord,pl,roman",None,N,ad,pl,0,1,5,3260156
41,39632188,21421214,9,-1,obl,1830-ndatel,1830.,"ad,ord,pl,roman",None,N,ad,pl,0,2,5,13392534
42,22616206,12156019,12,2,obl,1830ndatest,1830.,"el,ord,pl,roman",None,N,el,pl,0,3,5,7571369
43,14056993,7531907,6,3,obl,1830-ndatest,1830.,"el,ord,pl,roman",None,N,el,pl,0,4,5,4687401
44,8269249,4412328,13,2,obl,1830-ndatel,1830.,"ad,ord,pl,roman",None,N,ad,pl,0,5,5,2751175
45,22277258,11966268,4,1,obl,1860ndatel,1860.,"ad,ord,pl,roman",None,N,ad,pl,0,1,5,7453426
46,876783,511316,2,-4,obl,1860-ndail,1860.,"ad,ord,pl,roman",None,N,ad,pl,0,2,5,329967
47,26865422,14506212,1,-1,obl,1860ndatel,1860.,"ad,ord,pl,roman",None,N,ad,pl,0,3,5,9022252
48,8859910,4722550,4,-3,obl,1860-ndatest,1860.,"el,l,ord,pl",None,N,el,pl,0,4,5,2945288
49,8635780,4603730,6,1,obl,1860-ndatel,1860.,"ad,ord,pl,roman",None,N,ad,pl,0,5,5,2871050

In [4]:
# kasutame lausete andmebaasi
conn = sqlite3.connect("v33_koondkorpus_sentences_sentences_20250220-130121.db")

db_df = pd.read_sql("SELECT id, text FROM sentences", conn) # saame laused (text)
conn.close()
# lisame sentence_id põhjal dataframe'i ridadele vastava lause
df = df.merge(db_df, left_on="sentence_id", right_on="id", how="left")
# eemaldame üleliigse id veeru
df.drop(columns=["id"], inplace=True)
# muudame veerude järjekorda
uus_järjekord = ["lemma", "sentence_id", "head_id", "example_num","total_count","feats","case", "number", "proper","deprel","form", "loc", "loc_rel", "parent_loc", "pos","id_x", "text"]
df = df[uus_järjekord]
df

,lemma,sentence_id,head_id,example_num,total_count,feats,case,number,proper,deprel,form,loc,loc_rel,parent_loc,pos,id_x,text
0,01,5638210,9042088,1,5,"ad,card,l,sg",ad,sg,0,obl,01-l,5,2,None,N,16914226,Tuntumatest nimedest esinevad ARS 01-l Anish K...
1,01,11452252,18347728,2,5,"abl,card,l,sg",abl,sg,0,obl,01-lt,1,-1,None,N,33842830,"01-lt pudenes latt napilt alla , ometi oli Kas..."
2,01,7738885,12407197,3,5,"ad,card,l,sg",ad,sg,0,obl,01-l,5,2,None,N,23059612,Tuntumatest nimedest esinevad ARS 01-l Anish ...
3,01,17296885,26546238,4,5,"card,el,l,sg",el,sg,0,obl,01-st,11,1,None,N,48580405,nagu jokker korra juba ütles .. « ma ei ütleks...
4,01,18907961,28551088,5,5,"card,el,l,sg",el,sg,0,obl,01-st,8,3,None,N,51743905,Alates 33. leheküljest algavad uuesti koodide ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229995,mina,9916343,15908272,1,209164,"ad,pl",ad,pl,0,obl,meil,18,1,None,P,29381721,"Aga kui lugeda kokku kõik laevaomaniku kulud ,..."
229996,mina,3614263,5820169,2,209164,"ad,pl",ad,pl,0,obl,meil,3,1,None,P,10880759,Praegu oleks meil tuleviku kohta vaja rohkem i...
229997,mina,7165281,11525505,3,209164,"all,sg",all,sg,0,obl,mullegi,21,1,None,P,21488130,Toomas Liivi väide Nietzschest kui “ puuduvast...
229998,mina,10604189,16997757,4,209164,"all,sg",all,sg,0,obl,Mulle,1,-1,None,P,31378415,"Mulle meenus , kuidas miski tõmbas lennukit se..."
229999,mina,8980904,14439160,5,209164,"all,pl",all,pl,0,obl,meile,15,-5,None,P,26741157,"Me kuuleme , et sel-ja-sel inimesel on oma ver..."

In [5]:
# salvestame saadud dataframe'i andmebaasi
conn = sqlite3.connect("BT_andmed.db") 

df.to_sql("table", conn, if_exists="replace", index=False)
conn.close()

# Lisa - vali saadud andmetest esimesed 5000 rida

In [6]:
# valime välja esimesed 5000
'''
conn = sqlite3.connect("BT_andmed.db")

db_df = pd.read_sql('SELECT * FROM "table" LIMIT 5000;', conn)
conn.close()
db_df
'''

'\nconn = sqlite3.connect("BT_andmed.db")\n\ndb_df = pd.read_sql(\'SELECT * FROM "table" LIMIT 5000;\', conn)\nconn.close()\ndb_df\n'

In [7]:
# salvestame saadud read andmebaasi faili
'''
conn = sqlite3.connect("BT_andmed_5000.db") 

df.to_sql("table", conn, if_exists="replace", index=False)
conn.close()
'''

'\nconn = sqlite3.connect("BT_andmed_5000.db") \n\ndf.to_sql("table", conn, if_exists="replace", index=False)\nconn.close()\n'

In [8]:
#TODO leida enda 500 sõna laused
# juhuslik 100sõna * 5 näidet