In [1]:
import sqlite3
import pandas as pd
andmebaasi_nimi = "v33_koondkorpus_sentences_verb_pattern_obl_20241002-130310.db"
tabel = "kohakaanded" # tabel, kus on ainult kohakäänded alles jäetud (feats_filtreerimine.ipynb tulemus)

In [4]:
examples_given = 5 # mitu rida iga lemma kohta välja valitakse
count_min = 5 # minimaalne lemma esinemiste kord, et seda välja valitaks
conn = sqlite3.connect(andmebaasi_nimi)
query = f"""
WITH RankedRows AS (
    -- Järjestame samad lemmad kasutades random'it ning määrame example_num väärtuse
    SELECT 
        *, 
        ROW_NUMBER() OVER (PARTITION BY lemma ORDER BY RANDOM()) AS example_num,
        COUNT(*) OVER (PARTITION BY lemma) AS total_count -- Mitu korda antud lemma esineb
    FROM {tabel}
),
ValidLemmas AS (
    -- Jätame alles ainult lemmad, mis esinevad vähemalt count_min korda
    SELECT lemma
    FROM RankedRows
    GROUP BY lemma
    HAVING COUNT(*) >= {count_min}
),
RandomLemmas AS (
    -- Valime juhuslikult lemmad
    SELECT lemma
    FROM ValidLemmas
    ORDER BY RANDOM()
    -- LIMIT 1000 (siin saab määrata mitu erinevat lemmat valitakse)
)
SELECT RankedRows.*
FROM RankedRows
JOIN RandomLemmas USING (lemma)
WHERE example_num <= {examples_given}
ORDER BY total_count, lemma, example_num;
"""


df = pd.read_sql_query(query, conn)
conn.close()
df # dataframe, kus on iga valitud lemma kohta examples_given näidet

,id,head_id,loc,loc_rel,deprel,form,lemma,feats,parent_loc,pos,case,number,proper,example_num,total_count
0,33842830,18347728,1,-1,obl,01-lt,01,"abl,card,l,sg",None,N,abl,sg,0,1,5
1,16914226,9042088,5,2,obl,01-l,01,"ad,card,l,sg",None,N,ad,sg,0,2,5
2,51743905,28551088,8,3,obl,01-st,01,"card,el,l,sg",None,N,el,sg,0,3,5
3,48580405,26546238,11,1,obl,01-st,01,"card,el,l,sg",None,N,el,sg,0,4,5
4,23059612,12407197,5,2,obl,01-l,01,"ad,card,l,sg",None,N,ad,sg,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229995,45457618,24694366,14,-2,obl,meil,mina,"ad,pl",None,P,ad,pl,0,1,209164
229996,4575990,2457373,2,-1,obl,Minul,mina,"ad,sg",None,P,ad,sg,0,2,209164
229997,13018559,6974563,3,-1,obl,mulle,mina,"all,sg",None,P,all,sg,0,3,209164
229998,45599299,24777458,1,-1,obl,Mul,mina,"ad,sg",None,P,ad,sg,0,4,209164
229999,47656653,26005753,4,1,obl,mul,mina,"ad,sg",None,P,ad,sg,0,5,209164

In [5]:
conn = sqlite3.connect(andmebaasi_nimi)

db_df = pd.read_sql("SELECT id, sentence_id FROM transaction_head", conn) # saame sentance_id

conn.close()

# lisame sentence_id oma dataframe'ile
df = df.merge(db_df, left_on="head_id", right_on="id", how="left")

# eemaldame üleliigse id veeru
df.drop(columns=["id_y"], inplace=True)

df.head(50)

,id_x,head_id,loc,loc_rel,deprel,form,lemma,feats,parent_loc,pos,case,number,proper,example_num,total_count,sentence_id
0,33842830,18347728,1,-1,obl,01-lt,01,"abl,card,l,sg",None,N,abl,sg,0,1,5,11452252
1,16914226,9042088,5,2,obl,01-l,01,"ad,card,l,sg",None,N,ad,sg,0,2,5,5638210
2,51743905,28551088,8,3,obl,01-st,01,"card,el,l,sg",None,N,el,sg,0,3,5,18907961
3,48580405,26546238,11,1,obl,01-st,01,"card,el,l,sg",None,N,el,sg,0,4,5,17296885
4,23059612,12407197,5,2,obl,01-l,01,"ad,card,l,sg",None,N,ad,sg,0,5,5,7738885
5,28843248,15608077,19,3,obl,1.90st,1.90,"card,el,l,sg",None,N,el,sg,0,1,5,9727368
6,48405559,26440568,12,2,obl,1.90st,1.90,"card,el,l,sg",None,N,el,sg,0,2,5,17221900
7,35416751,19181957,3,1,obl,1.90-l,1.90,"ad,card,l,sg",None,N,ad,sg,0,3,5,11985432
8,41289266,22316899,3,1,obl,1.90st,1.90,"card,el,l,sg",None,N,el,sg,0,4,5,14018110
9,27327188,14758582,9,4,obl,1.90-le,1.90,"all,card,l,sg",None,N,all,sg,0,5,5,9182197
10,38017366,20564791,1,-1,obl,1.91-l,1.91,"ad,card,l,sg",None,N,ad,sg,0,1,5,12856521
11,1595525,896905,4,2,obl,1.91-st,1.91,"card,el,l,sg",None,N,el,sg,0,2,5,566959
12,38017353,20564783,13,1,obl,1.91-l,1.91,"ad,card,l,sg",None,N,ad,sg,0,3,5,12856517
13,1439203,817113,8,-2,obl,1.91-st,1.91,"card,el,l,sg",None,N,el,sg,0,4,5,518693
14,18642328,9967497,19,2,obl,1.91-l,1.91,"ad,card,l,sg",None,N,ad,sg,0,5,5,6206447
15,41246056,22293674,10,2,obl,13 000-le,13000,"all,card,l,sg",None,N,all,sg,0,1,5,14003986
16,52262397,28894792,18,1,obl,13 000-le,13000,"all,card,l,sg",None,N,all,sg,0,2,5,19155708
17,327528,180669,18,1,obl,13 000-le,13000,"all,card,l,sg",None,N,all,sg,0,3,5,107295
18,19165508,10252008,10,2,obl,13 000-le,13000,"all,card,l,sg",None,N,all,sg,0,4,5,6378905
19,3188422,1728974,4,2,obl,13 000-st,13000,"card,el,l,sg",None,N,el,sg,0,5,5,1087793
20,38823879,20991655,7,-1,obl,15selt,15see,"abl,sg",None,P,abl,sg,0,1,5,13119248
21,21766524,11677924,7,-1,obl,15selt,15see,"abl,sg",None,P,abl,sg,0,2,5,7262316
22,16277849,8705190,7,-1,obl,15selt,15see,"abl,sg",None,P,abl,sg,0,3,5,5429352
23,21572148,11571269,1,-1,obl,15selt,15see,"abl,sg",None,P,abl,sg,0,4,5,7193759
24,30679190,16612877,17,-1,obl,15selt,15see,"abl,sg",None,P,abl,sg,0,5,5,10353962
25,50913847,28026272,27,3,obl,164-le,164,"all,card,l,sg",None,N,all,sg,0,1,5,18507536
26,3576856,1934077,10,1,obl,164le,164,"all,card,l,sg",None,N,all,sg,0,2,5,1216601
27,2492342,1363911,10,2,obl,164le,164,"all,card,l,sg",None,N,all,sg,0,3,5,856421
28,14479124,7755550,4,1,obl,164-st,164,"card,el,l,sg",None,N,el,sg,0,4,5,4830175
29,20026609,10719173,12,2,obl,164-le,164,"all,card,l,sg",None,N,all,sg,0,5,5,6661821
30,39077905,21126984,3,1,obl,17-selt,17-see,"abl,sg",None,P,abl,sg,0,1,5,13206488
31,195193,107685,7,-2,obl,17-selt,17-see,"abl,sg",None,P,abl,sg,0,2,5,62681
32,30143767,16321633,15,2,obl,17-selt,17-see,"abl,sg",None,P,abl,sg,0,3,5,10172829
33,46879488,25539424,9,2,obl,17-selt,17-see,"abl,sg",None,P,abl,sg,0,4,5,16559894
34,3484890,1885290,9,2,obl,17-selt,17-see,"abl,sg",None,P,abl,sg,0,5,5,1186012
35,34292996,18585976,13,3,obl,18 000-le,18000,"all,card,l,sg",None,N,all,sg,0,1,5,11608819
36,11003686,5886757,7,1,obl,18 000-le,18000,"all,card,l,sg",None,N,all,sg,0,2,5,3655337
37,19165507,10252008,9,1,obl,18 000-lt,18000,"abl,card,l,sg",None,N,abl,sg,0,3,5,6378905
38,7470362,3990194,11,3,obl,18 000-le,18000,"all,card,l,sg",None,N,all,sg,0,4,5,2488070
39,11300134,6046983,6,3,obl,18 000-lt,18000,"abl,card,l,sg",None,N,abl,sg,0,5,5,3754571
40,22616206,12156019,12,2,obl,1830ndatest,1830.,"el,ord,pl,roman",None,N,el,pl,0,1,5,7571369
41,39632188,21421214,9,-1,obl,1830-ndatel,1830.,"ad,ord,pl,roman",None,N,ad,pl,0,2,5,13392534
42,9816274,5239523,5,-3,obl,1830-ndail,1830.,"ad,ord,pl,roman",None,N,ad,pl,0,3,5,3260156
43,8269249,4412328,13,2,obl,1830-ndatel,1830.,"ad,ord,pl,roman",None,N,ad,pl,0,4,5,2751175
44,14056993,7531907,6,3,obl,1830-ndatest,1830.,"el,ord,pl,roman",None,N,el,pl,0,5,5,4687401
45,8635780,4603730,6,1,obl,1860-ndatel,1860.,"ad,ord,pl,roman",None,N,ad,pl,0,1,5,2871050
46,26865422,14506212,1,-1,obl,1860ndatel,1860.,"ad,ord,pl,roman",None,N,ad,pl,0,2,5,9022252
47,876783,511316,2,-4,obl,1860-ndail,1860.,"ad,ord,pl,roman",None,N,ad,pl,0,3,5,329967
48,8859910,4722550,4,-3,obl,1860-ndatest,1860.,"el,l,ord,pl",None,N,el,pl,0,4,5,2945288
49,22277258,11966268,4,1,obl,1860ndatel,1860.,"ad,ord,pl,roman",None,N,ad,pl,0,5,5,7453426

In [6]:
# kasutame lausete andmebaasi
conn = sqlite3.connect("v33_koondkorpus_sentences_sentences_20250220-130121.db")

db_df = pd.read_sql("SELECT id, text FROM sentences", conn) # saame laused (text)
conn.close()
# lisame sentence_id põhjal dataframe'i ridadele vastava lause
df = df.merge(db_df, left_on="sentence_id", right_on="id", how="left")
# eemaldame üleliigse id veeru
df.drop(columns=["id"], inplace=True)
# muudame veerude järjekorda
uus_järjekord = ["lemma", "sentence_id", "head_id", "example_num","total_count","feats","case", "number", "proper","deprel","form", "loc", "loc_rel", "parent_loc", "pos","id_x", "text"]
df = df[uus_järjekord]
df.head(50)

,lemma,sentence_id,head_id,example_num,total_count,feats,case,number,proper,deprel,form,loc,loc_rel,parent_loc,pos,id_x,text
0,01,11452252,18347728,1,5,"abl,card,l,sg",abl,sg,0,obl,01-lt,1,-1,None,N,33842830,"01-lt pudenes latt napilt alla , ometi oli Kas..."
1,01,5638210,9042088,2,5,"ad,card,l,sg",ad,sg,0,obl,01-l,5,2,None,N,16914226,Tuntumatest nimedest esinevad ARS 01-l Anish K...
2,01,18907961,28551088,3,5,"card,el,l,sg",el,sg,0,obl,01-st,8,3,None,N,51743905,Alates 33. leheküljest algavad uuesti koodide ...
3,01,17296885,26546238,4,5,"card,el,l,sg",el,sg,0,obl,01-st,11,1,None,N,48580405,nagu jokker korra juba ütles .. « ma ei ütleks...
4,01,7738885,12407197,5,5,"ad,card,l,sg",ad,sg,0,obl,01-l,5,2,None,N,23059612,Tuntumatest nimedest esinevad ARS 01-l Anish ...
5,1.90,9727368,15608077,1,5,"card,el,l,sg",el,sg,0,obl,1.90st,19,3,None,N,28843248,1.88 vahele jätnud lätlanna Valentina Gotovsk...
6,1.90,17221900,26440568,2,5,"card,el,l,sg",el,sg,0,obl,1.90st,12,2,None,N,48405559,"Mõtlesin , et kui seekord lähen üle , saan jag..."
7,1.90,11985432,19181957,3,5,"ad,card,l,sg",ad,sg,0,obl,1.90-l,3,1,None,N,35416751,"Tegelikult tegin 1.90-l ühe korraliku katse , ..."
8,1.90,14018110,22316899,4,5,"card,el,l,sg",el,sg,0,obl,1.90st,3,1,None,N,41289266,1.91 andis 1.90st palju parema enesetunde
9,1.90,9182197,14758582,5,5,"all,card,l,sg",all,sg,0,obl,1.90-le,9,4,None,N,27327188,x E-Piim alandab 1. novembrist piima kokkuostu...
10,1.91,12856521,20564791,1,5,"ad,card,l,sg",ad,sg,0,obl,1.91-l,1,-1,None,N,38017366,"1.91-l tegin parima hüppe , riivasin latti väh..."
11,1.91,566959,896905,2,5,"card,el,l,sg",el,sg,0,obl,1.91-st,4,2,None,N,1595525,Nool alustas kõrgushüpet 1.91-st ja sai selles...
12,1.91,12856517,20564783,3,5,"ad,card,l,sg",ad,sg,0,obl,1.91-l,13,1,None,N,38017353,"Ületanud 1.80 esimesel , 1.85 teisel ja 1.88 e..."
13,1.91,518693,817113,4,5,"card,el,l,sg",el,sg,0,obl,1.91-st,8,-2,None,N,1439203,""" Viimasel katsel , usun , oleksin 1.91-st üle..."
14,1.91,6206447,9967497,5,5,"ad,card,l,sg",ad,sg,0,obl,1.91-l,19,2,None,N,18642328,Erki Noole katkestamise järel ainsa eestlasena...
15,13000,14003986,22293674,1,5,"all,card,l,sg",all,sg,0,obl,13 000-le,10,2,None,N,41246056,Kuna 1990–1995 langes aastane sündivus 25 000-...
16,13000,19155708,28894792,2,5,"all,card,l,sg",all,sg,0,obl,13 000-le,18,1,None,N,52262397,"Räägitakse hariduse parandamisest , aga harita..."
17,13000,107295,180669,3,5,"all,card,l,sg",all,sg,0,obl,13 000-le,18,1,None,N,327528,Kümne aasta tagune aasta keskmine sündimus Ees...
18,13000,6378905,10252008,4,5,"all,card,l,sg",all,sg,0,obl,13 000-le,10,2,None,N,19165508,Aastane sündide arv Eestis on 10 aastaga vähen...
19,13000,1087793,1728974,5,5,"card,el,l,sg",el,sg,0,obl,13 000-st,4,2,None,N,3188422,"Yahoo esitas 61 % 13 000-st , Netscape'i Open ..."
20,15see,13119248,20991655,1,5,"abl,sg",abl,sg,0,obl,15selt,7,-1,None,P,38823879,"14aastasena tuli ta USA meistriks , 15selt sai..."
21,15see,7262316,11677924,2,5,"abl,sg",abl,sg,0,obl,15selt,7,-1,None,P,21766524,"13AASTASELT JAGAS JAAKKO RYTSäLä reklaame , 15..."
22,15see,5429352,8705190,3,5,"abl,sg",abl,sg,0,obl,15selt,7,-1,None,P,16277849,"13AASTASELT JAGAS JAAKKO RYTSäLä reklaame , 1..."
23,15see,7193759,11571269,4,5,"abl,sg",abl,sg,0,obl,15selt,1,-1,None,P,21572148,15selt otsustas krapsakas Juliette pisut maail...
24,15see,10353962,16612877,5,5,"abl,sg",abl,sg,0,obl,15selt,17,-1,None,P,30679190,Esimene mällusööbinud kokkupuude muusikaga oli...
25,164,18507536,28026272,1,5,"all,card,l,sg",all,sg,0,obl,164-le,27,3,None,N,50913847,"Nagu lugupeetud minister ütles , on selle eeln..."
26,164,1216601,1934077,2,5,"all,card,l,sg",all,sg,0,obl,164le,10,1,None,N,3576856,Järgmisest aastast oleks maa- ja linnaprokurör...
27,164,856421,1363911,3,5,"all,card,l,sg",all,sg,0,obl,164le,10,2,None,N,2492342,Järgmise aasta 1. jaanuarist suureneb maa- ja ...
28,164,4830175,7755550,4,5,"card,el,l,sg",el,sg,0,obl,164-st,4,1,None,N,14479124,Õnneks ei kuku 164-st modellist keegi .
29,164,6661821,10719173,5,5,"all,card,l,sg",all,sg,0,obl,164-le,12,2,None,N,20026609,Tänavune riiklik doktorantide tellimus on 250 ...
30,17-see,13206488,21126984,1,5,"abl,sg",abl,sg,0,obl,17-selt,3,1,None,P,39077905,Süütuse kaotasin 17-selt ja see polnud suurem ...
31,17-see,62681,107685,2,5,"abl,sg",abl,sg,0,obl,17-selt,7,-2,None,P,195193,"Olime mõlemad vabatahtlikult sõtta läinud , 17..."
32,17-see,10172829,16321633,3,5,"abl,sg",abl,sg,0,obl,17-selt,15,2,None,P,30143767,"Muide , sama vanalt võitis oma esimese tiitli ..."
33,17-see,16559894,25539424,4,5,"abl,sg",abl,sg,0,obl,17-selt,9,2,None,P,46879488,Oma esimesel MMil ( 1958 ) mängis Pele 17-selt .
34,17-see,1186012,1885290,5,5,"abl,sg",abl,sg,0,obl,17-selt,9,2,None,P,3484890,Oma esimesel MMil ( 1958 ) mängis Pele 17-selt .
35,18000,11608819,18585976,1,5,"all,card,l,sg",all,sg,0,obl,18 000-le,13,3,None,N,34292996,Laata korraldada aidanud Palamuse Naisseltsi j...
36,18000,3655337,5886757,2,5,"all,card,l,sg",all,sg,0,obl,18 000-le,7,1,None,N,11003686,Automaadikaartide arv oli novembri alguseks la...
37,18000,6378905,10252008,3,5,"abl,card,l,sg",abl,sg,0,obl,18 000-lt,9,1,None,N,19165507,Aastane sündide arv Eestis on 10 aastaga vähen...
38,18000,2488070,3990194,4,5,"all,card,l,sg",all,sg,0,obl,18 000-le,11,3,None,N,7470362,FBI pani hoiatuse välja oma kodulehele ning sa...
39,18000,3754571,6046983,5,5,"abl,card,l,sg",abl,sg,0,obl,18 000-lt,6,3,None,N,11300134,Tiraazh on langenud kunagiselt stabiilselt 18 ...
40,1830.,7571369,12156019,1,5,"el,ord,pl,roman",el,pl,0,obl,1830ndatest,12,2,None,N,22616206,( See diskussioon kirjanduse rollist oma rahva...
41,1830.,13392534,21421214,2,5,"ad,ord,pl,roman",ad,pl,0,obl,1830-ndatel,9,-1,None,N,39632188,"Viimane sai nime Briti purjeka järgi , mis 183..."
42,1830.,3260156,5239523,3,5,"ad,ord,pl,roman",ad,pl,0,obl,1830-ndail,5,-3,None,N,9816274,Aga kui vene rahvuskirjandus 1830-ndail jalad ...
43,1830.,2751175,4412328,4,5,"ad,ord,pl,roman",ad,pl,0,obl,1830-ndatel,13,2,None,N,8269249,Lõhelised on reostusele eriti tundlikud ning T...
44,1830.,4687401,7531907,5,5,"el,ord,pl,roman",el,pl,0,obl,1830-ndatest,6,3,None,N,14056993,Kui loeme eestlaste edulugusid alates 1830-nda...
45,1860.,2871050,4603730,1,5,"ad,ord,pl,roman",ad,pl,0,obl,1860-ndatel,6,1,None,N,8635780,Kadrina Katariina koguduse orel valmis 1860-nd...
46,1860.,9022252,14506212,2,5,"ad,ord,pl,roman",ad,pl,0,obl,1860ndatel,1,-1,None,N,26865422,1860ndatel vurasid seal ringi põhiliselt hobuv...
47,1860.,329967,511316,3,5,"ad,ord,pl,roman",ad,pl,0,obl,1860-ndail,2,-4,None,N,876783,Eriti 1860-ndail - 1870-ndail aastail on mitme...
48,1860.,2945288,4722550,4,5,"el,l,ord,pl",el,pl,0,obl,1860-ndatest,4,-3,None,N,8859910,Kui nad laevadega 1860-ndatest alates ilmamerd...
49,1860.,7453426,11966268,5,5,"ad,ord,pl,roman",ad,pl,0,obl,1860ndatel,4,1,None,N,22277258,“ Köler maalis 1860ndatel Eesti maastikke oma ...

In [7]:
# salvestame saadud dataframe'i andmebaasi
conn = sqlite3.connect("BT_andmed.db") 

df.to_sql("table", conn, if_exists="replace", index=False)
conn.close()